Repository redeboer/bossdoc: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, doc8, isort, rstcheck

black:
  name: black
  entry: black
  language: system

doc8:
  name: doc8
  entry: doc8
  args:
  - -q
  language: system

isort:
  name: isort
  entry: isort
  language: system

rstcheck:
  name: rstcheck
  entry: rstcheck
  language: system

docs: add note on addItem segfault
  docs/appendices/tips/troubleshooting.md
Due: none

fix: remove link to Shen talk
  docs/appendices/z.references.md
  docs/tutorials/getting-started/intro.rst
Due: doc8, rstcheck

fix: change BOSS Tutorials link to IHEP
  docs/tutorials/getting-started/setup-package.rst
Due: doc8, rstcheck

fix: rename besfs to besfs5
  docs/packages/analysis/topoana.rst
  docs/tutorials/data.rst
  docs/tutorials/getting-started/data-quota.rst
  docs/tutorials/getting-started/server.rst
  docs/tutorials/getting-started/setup.rst
Due: doc8, rstcheck

docs: add note about besfs->besfs5
  docs/tutorials/getting-started/data-quota.rst
Due: doc8, rstcheck

ci: upgrade developer dependencies (automatic)
  reqs/3.6/requirements-dev.txt
  reqs/3.6/requirements-doc.txt
  reqs/3.6/requirements-sty.txt
  reqs/3.6/requirements.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.7/requirements-doc.txt
  reqs/3.7/requirements-sty.txt
  reqs/3.7/requirements.txt
  reqs/3.9/requirements-dev.txt
  reqs/3.9/requirements-doc.txt
  reqs/3.9/requirements-sty.txt
  reqs/3.9/requirements.txt
Due: none

ci: run cron job every two months
  .github/workflows/requirements-cron.yml
Due: none

ci: remove epic workflow
  .github/workflows/ci-epic.yml
Due: none

fix: remove doctest job
  .github/workflows/ci.yml
  cspell.json
Due: none

fix: ignore http links to ucas
  docs/conf.py
Due: black, isort

ci: ignore all links to IHEP
  docs/appendices/glossary.md
  docs/conf.py
Due: black, isort

fix: enumerate under Gaudi section
  docs/tutorials/getting-started/intro.md
  docs/tutorials/getting-started/intro.rst
Due: doc8, rstcheck

chore: convert tutorials/data and tutorials/final to myst
  docs/tutorials/data.md
  docs/tutorials/data.rst
  docs/tutorials/final.md
  docs/tutorials/final.rst
Due: doc8, rstcheck

chore: convert topoana page to myst
  docs/packages/analysis/topoana.md
  docs/packages/analysis/topoana.rst
Due: doc8, rstcheck

chore: convert setup-package to myst
  docs/global.inc
  docs/tutorials/getting-started/setup-package.md
  docs/tutorials/getting-started/setup-package.rst
Due: doc8, rstcheck

chore: rename main branch to master
  .github/workflows/ci.yml
  .github/workflows/linkcheck.yml
  .github/workflows/release-drafter.yml
  .github/workflows/requirements-pr.yml
  docs/contributing.md
Due: none

fix: do not publish to PyPI
  .github/workflows/cd.yml
  cspell.json
Due: none

fix: link docs to main branch, not stable
  docs/conf.py
Due: black, isort

fix: replace afs paths with cvmfs
  cspell.json
  docs/packages/analysis/BesDChain.md
  docs/packages/analysis/examples/RhopiAlg.md
  docs/packages/analysis/other.md
  docs/tutorials/data/exclusive.rst
  docs/tutorials/getting-started/intro.md
  docs/tutorials/getting-started/server.rst
  docs/tutorials/getting-started/setup-package.md
  docs/tutorials/getting-started/setup.rst
Due: doc8, rstcheck

fix: replace afs paths with cvmfs (#2)
  cspell.json
  docs/packages/analysis/BesDChain.md
  docs/packages/analysis/examples/RhopiAlg.md
  docs/packages/analysis/other.md
  docs/tutorials/data/exclusive.rst
  docs/tutorials/getting-started/intro.md
  docs/tutorials/getting-started/server.rst
  docs/tutorials/getting-started/setup-package.md
  docs/tutorials/getting-started/setup.rst
Due: doc8, rstcheck

Update setup.rst
  docs/tutorials/getting-started/setup.rst
Due: doc8, rstcheck

fix: cmthome path on cmvfs
  docs/tutorials/getting-started/setup.rst
Due: doc8, rstcheck

chore: convert remaining rst pages to myst
  .pre-commit-config.yaml
  docs/appendices/tips/tips-and-tricks.md
  docs/appendices/tips/troubleshooting.md
  docs/tutorials/data/exclusive.md
  docs/tutorials/data/exclusive.rst
  docs/tutorials/data/inclusive.md
  docs/tutorials/data/inclusive.rst
  docs/tutorials/data/measurements.md
  docs/tutorials/data/measurements.rst
  docs/tutorials/final/background.md
  docs/tutorials/final/background.rst
  docs/tutorials/final/errors.md
  docs/tutorials/final/errors.rst
  docs/tutorials/final/signal.md
  docs/tutorials/final/signal.rst
  docs/tutorials/getting-started/data-quota.md
  docs/tutorials/getting-started/data-quota.rst
  docs/tutorials/getting-started/jobs.md
  docs/tutorials/getting-started/jobs.rst
  docs/tutorials/getting-started/server.md
  docs/tutorials/getting-started/server.rst
  docs/tutorials/getting-started/setup-package.md
  docs/tutorials/getting-started/setup.md
  docs/tutorials/getting-started/setup.rst
  docs/tutorials/getting-started/summary.md
  docs/tutorials/getting-started/summary.rst
Due: doc8, rstcheck

ci: remove doc8 and rstcheck as dependencies
  reqs/requirements-sty.in
  setup.cfg
Due: none

ci: remove restructuredtext vscode extensions
  .vscode/extensions.json
  .vscode/settings.json
Due: none

fix: cmthome path on cmvfs (#4)
  docs/tutorials/getting-started/setup.rst
Due: doc8, rstcheck

ci: upgrade developer dependencies (automatic)
  reqs/3.6/requirements-dev.txt
  reqs/3.6/requirements-sty.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.7/requirements-sty.txt
  reqs/3.8/requirements-dev.txt
  reqs/3.8/requirements-sty.txt
  reqs/3.9/requirements-dev.txt
  reqs/3.9/requirements-sty.txt
Due: none

fix: link to ROOT input-output
  docs/tutorials/getting-started/jobs.rst
Due: doc8, rstcheck

chore: convert remaining rst pages to myst (#5)
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  docs/appendices/tips/tips-and-tricks.md
  docs/appendices/tips/troubleshooting.md
  docs/tutorials/data/exclusive.md
  docs/tutorials/data/exclusive.rst
  docs/tutorials/data/inclusive.md
  docs/tutorials/data/inclusive.rst
  docs/tutorials/data/measurements.md
  docs/tutorials/data/measurements.rst
  docs/tutorials/final/background.md
  docs/tutorials/final/background.rst
  docs/tutorials/final/errors.md
  docs/tutorials/final/errors.rst
  docs/tutorials/final/signal.md
  docs/tutorials/final/signal.rst
  docs/tutorials/getting-started/data-quota.md
  docs/tutorials/getting-started/data-quota.rst
  docs/tutorials/getting-started/jobs.md
  docs/tutorials/getting-started/jobs.rst
  docs/tutorials/getting-started/server.md
  docs/tutorials/getting-started/server.rst
  docs/tutorials/getting-started/setup-package.md
  docs/tutorials/getting-started/setup.md
  docs/tutorials/getting-started/setup.rst
  docs/tutorials/getting-started/summary.md
  docs/tutorials/getting-started/summary.rst
  reqs/3.6/requirements-dev.txt
  reqs/3.6/requirements-sty.txt
  reqs/3.7/requirements-dev.txt
  reqs/3.7/requirements-sty.txt
  reqs/3.8/requirements-dev.txt
  reqs/3.8/requirements-sty.txt
  reqs/3.9/requirements-dev.txt
  reqs/3.9/requirements-sty.txt
  reqs/requirements-sty.in
  setup.cfg
Due: doc8, rstcheck

fix: replace remaining rst syntax with colon fences
  docs/contributing.md
  docs/packages/analysis/examples/RhopiAlg.md
  docs/tutorials/getting-started/server.md
Due: none

fix: typo 'your the' in setup page
  docs/tutorials/getting-started/setup.md
Due: none

fix: remove spaces before commas
  docs/appendices/tips/gitlab.md
  docs/appendices/tips/tips-and-tricks.md
  docs/appendices/tips/troubleshooting.md
  docs/packages/analysis/examples/RhopiAlg.md
  docs/packages/analysis/topoana.md
  docs/packages/beyond.md
  docs/packages/beyond/conda.md
  docs/tutorials/getting-started/intro.md
  docs/tutorials/getting-started/jobs.md
  docs/tutorials/getting-started/server.md
  docs/tutorials/getting-started/setup-package.md
  docs/tutorials/getting-started/setup.md
Due: none

style: remove code and file roles
  docs/appendices/glossary.md
  docs/appendices/tips/gitlab.md
  docs/appendices/tips/tips-and-tricks.md
  docs/appendices/tips/troubleshooting.md
  docs/appendices/z.references.md
  docs/index.md
  docs/packages/analysis/BaskeAnaTool.md
  docs/packages/analysis/BesDChain.md
  docs/packages/analysis/DDecayAlg.md
  docs/packages/analysis/other.md
  docs/packages/beyond/conda.md
  docs/tutorials/getting-started.md
Due: none

fix: unbolden step 4
  docs/tutorials/getting-started/setup.md
Due: none

fix: improve reference to contribute page
  docs/tutorials/getting-started/setup.md
Due: none

ci: support intersphinx to PWA pages
  docs/conf.py
Due: black, isort

ci: recommend codestream as vscode extension
  .vscode/extensions.json
Due: none

Path conditions:
  black: any of: \.py$
  doc8: any of: \.(inc|rst)$
  isort: any of: \.py$
  rstcheck: any of: \.(inc|rst)$
